**Given the weight (in lbs) and foot size (in inches), predict whether the person is a male or female‚Äù using Naive bayes  algorithm**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [ ]:
#importing dataset
path = "ex2.csv"
df = pd.read_csv(path)
df.head()

   Gender    Height     Weight  Shoe_size
0    Male  6.033333  176.36960  17.460317
1    Male  5.900000  154.32340  17.063492
2  Female  5.333333  132.27720  15.079365
3  Female  5.133333  119.04948  14.682540
4    Male  5.533333  143.30030  15.873016

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Gender     29 non-null     object
 1   Weight     29 non-null     float64
 2   Shoe_size  29 non-null     float64
dtypes: float64(2), object(1)
memory usage: 824.0+ bytes

In [ ]:
df.drop(label="Height",axis="columns",inplace=True)#permanently dropping height column

In [ ]:
df.dropna()#dropping null values

    Gender     Weight  Shoe_size
0     Male  176.36960  17.460317
1     Male  154.32340  17.063492
2   Female  132.27720  15.079365
3   Female  119.04948  14.682540
4     Male  143.30030  15.873016
5     Male  198.41580  18.650794
6   Female  141.09568  15.476190
7   Female  154.32340  15.873016
8   Female  121.25410  14.682540
9     Male  165.34650  16.666667
10    Male  187.39270  17.063492
11    Male  154.32340  17.857143
12  Female  110.23100  13.888889
13    Male  149.91416  15.873016
14  Female  123.45872  15.476190
15  Female  125.66334  15.079365
16  Female  130.07258  14.285714
17    Male  167.55112  17.063492
18    Male  176.36960  18.650794
19  Female  123.45872  14.285714
20  Female   99.20790  15.476190
21  Female  105.82176  13.888889
22    Male  123.45872  17.857143
23    Male  152.11878  17.063492
24  Female  132.27720  15.873016
25    Male  154.32340  18.650794
26    Male  176.36960  18.253968
27  Female   94.79866  13.095238
28    Male  110.23100  15.873016

In [ ]:
#model to split data
train, test = train_test_split(df,test_size=1/3,random_state=0)
#creating x and y variables
feature_names = ['Weight', 'Shoe_size']
x_train = train[feature_names].values.tolist()
y_train = train['Gender']
x_test = test[feature_names].values.tolist()
y_test = test['Gender']

In [ ]:
clf = GaussianNB()

In [ ]:
clf = clf.fit(x_train, y_train)
prediction= clf.predict(x_test)
result = accuracy_score(y_test, prediction)
print("Accuracy score of Model : GaussianNB is "+str(result))

Accuracy score of Model : GaussianNB is 1.0

In [ ]:
weight=121.25410
shoe_size=14.682540
prediction = clf.predict([[ weight,shoe_size]])
print("The classifier predicts that " +str(prediction[0]))

The classifier predicts that Female