**Importing libararies**

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

**Importing data set**

In [ ]:
tennis = pd.read_csv('play_tennis.csv')

**Preparing data**

In [ ]:
tennis.drop('day', axis='columns', inplace=True) #drop column drop permanently as it not needed
tennis.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [ ]:
tennis[tennis.columns[:]] = tennis[tennis.columns[:]].apply(LabelEncoder().fit_transform)#A LabelEncoder converts a categorical data into a number ranging from 0 to n-1
tennis.head()

   outlook  temp  humidity  wind  play
0        2     1         0     1     0
1        2     1         0     0     0
2        0     1         0     1     1
3        1     2         0     1     1
4        1     0         1     1     1

In [ ]:
features = ["outlook", "temp", "humidity", "wind"]
target = "play"

In [ ]:
features_train, features_test, target_train, target_test = train_test_split(tennis[features],tennis[target],test_size = 0.33,random_state = 54)#trainning data sets

**Creating model**

In [ ]:
model = GaussianNB()
model.fit(features_train, target_train)

GaussianNB(priors=None, var_smoothing=1e-09)

**Performance of model-Accuracy**

In [ ]:
pred = model.predict(features_test)
accuracy = accuracy_score(target_test, pred)
print("accuracy of the model",accuracy)

accuracy of the model 0.8

**Prediction**

In [ ]:
tennis.loc[3]#for example,for this condition,the prediction is made

outlook     1
temp        2
humidity    0
wind        1
play        1
Name: 3, dtype: int64

In [ ]:
print(model.predict([[1,2,0,1]]))#(Rain,Mild,High,Weak)
#[1] means play-"yes" [0] means play-"no"

[1]